*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' ;
}

a{
    text-decoration: none;
    color: black
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
}

.container div{
    padding: .5em;
}

.container .hero-section{
    padding: 0;
}

.container .hero-section div{
    padding: .5em 1.5em;
}

.hero-section{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 3em;
}

.header{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: .5em;
}

.logo{
    justify-self: start;
    align-self: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1em;
}

.header .links ul{
    display: flex;
    justify-content: space-around;
}

.links{
    align-self: center;
}

.header .links ul,li{
    list-style-type: none;
}

.header .links ul li a:hover{
    text-decoration: underline;
}

.hero-section .header .header-button{
    align-self: center;
    justify-self: center;
    padding: .2em;
}

.hero-section .header .header-button button{
    padding: .4em 1.5em;
    font-size: 1rem;
    font-weight: 400;
    background-color: inherit;
    border: solid black 2px ;
    border-radius: 10px;
    transition: .1s;
    cursor: pointer;
}

.hero-section .header .header-button button:hover{
    background-color: black;
    color: white;
    transition: .2s;
}

.container .hero-section .hero{
    border: solid black 1px;
    grid-column: 1/3;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    padding: 0 5px;
}


.hero .left .text{
    width: 90%;
}

.text h2{
    font-size: 4rem;
    font-weight: 500;
}

.text :nth-child(2){
    margin-top: .2em;
}

.text p{
    margin-top: 2em;
    width: 90%;
    font-size: 1.4rem;
}